<footer class="bg-body-tertiary text-center">
  <div class="container p-4 pb-0">
    <section class="mb-4">
      <a
        class="btn text-white btn-floating m-1"
        style="background-color: #3b5998"
        href="#!"
        role="button"
      >
        <fa-icon [icon]="aFacebook"></fa-icon>
      </a>
      <a
        class="btn text-white btn-floating m-1"
        style="background-color: #25d366"
        href="https://www.whatsapp.com/catalog/5514991430092/?app_absent=0"
        role="button"
      >
        <fa-icon [icon]="faWhatsapp"></fa-icon>
      </a>
      <a
        class="btn text-white btn-floating m-1"
        style="background-color: #dd4b39"
        href="https://maps.app.goo.gl/irhrPBGafuTRBL957"
        role="button"
      >
        <fa-icon [icon]="faMapMarkerAlt"></fa-icon>
      </a>
      <a
        class="btn text-white btn-floating m-1"
        style="background-color: #c13584"
        href="https://www.instagram.com/casa7charcutaria/"
        role="button"
      >
        <fa-icon [icon]="faInstagram"></fa-icon>
      </a>
    </section>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05)">
    © 2025 Copyright:
    <a class="text-body" href="https://mdbootstrap.com/"
      >Rafa Garoto de programa</a
    >
  </div>
</footer>
